<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSON_Fun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3984EDF01E44FD8D0065908F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3984EE041E44FD8D0065908F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3984EE0F1E44FD8D0065908F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
